body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-medium{
    font-size:200%;
}

.text-table{
    font-size:150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
    
}

.fontcolor1 {
    color:white;
}

.container {
    
    margin:auto;
    padding-left:10px;
    padding-right:10px;
}

.blink_me {   
  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}
/*
@keyframes blink {
  0% {
    opacity: 1;
    color: white;
  }

  25% {
    color: green;
    opacity: 0;
  }

  50% {
    opacity: 1;
    color: green;
  }

  75% {
   opacity: 1;
   color: green;
 }

 100% {
   opacity: 0;
   color: white;
 }
}
*/      #blue {color: blue}
        #logo {background-color:#123456; padding:5px; height:250px;}
        #feedback {background-color:#123456;}
        #t {color:white;}
        #main {background-color:#fdc;}
        #d {background-color:#fdc;}
        #h {background-color:#fdc;}
        #h1 {color:white;}
        #h2 {color:white;}
        #h3 {color:white;}
        #sub {background-color:white;}
        #p {color:white;}
        #p1 {color:white;}
        #p2 {color:white;}
        #p3 {color:white;}
        #p4 {color:white;}
        #p5 {color:white;}
        #links {color:white;}
        #c {color:black}
        .hyperlinks {color:white; text-decoration:none;}
        .hyperlinks1 {color:#000; text-decoration:none;}
        a:hover {text-decoration:underline;} 
        a:visited {text-decoration:green;}
        